.intro-lite-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 9999;
}

.intro-lite-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
