body {
  margin: 0;
  font-family: 'Netflix Sans',Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141414;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Blue selection for all pages */
::selection {
  background: #0071eb;
  color: #fff;
}

/* Firefox */
::-moz-selection {
  background: #0071eb;
  color: #fff;
}
